/* Color Theme Swatches in Hex */
.İllüstrasyon-1-hex { color: #F25260; }
.İllüstrasyon-2-hex { color: #D9626B; }
.İllüstrasyon-3-hex { color: #36BFB1; }
.İllüstrasyon-4-hex { color: #590202; }
.İllüstrasyon-5-hex { color: #F2F2F2; }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */

}
body{
  background-color: #36BFB1;
}
#root{
  background-color:  #F25260 ;
  margin: 3rem auto;
  width: 500px;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}
.header{
  color: aqua;
  font-size: 2rem;
  margin-bottom: 1rem;

}
label{
  font-size: 1.3rem;
  color: aquamarine;
}
input{
  background-color: aquamarine;
  color: black;
  padding:0.8rem;
  border: 3px solid black;
  border-radius: 10px;
}
button,#save{
  background-color:#568C8C;
  color:#F2F2F2 ;
  padding:0.5rem;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.not{
  background-color: #d3737b;
  border-radius: 10px;
  margin: 0.7rem;
  border-bottom: 4px solid #36BFB1;
cursor: pointer;

}
